# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# Ans 1
tpl=(1,2,3,4,5,6,7,8,9,10)
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
# Ans 2
print(f"first element: {tpl[0]}, middle elemenet: {tpl[len(tpl)//2]}, last element: {tpl[-1]}")

first element: 1, middle elemenet: 6, last element: 10

In [8]:
# Ans 3
print(f"first three element: {tpl[0:4]}, last three element: {tpl[-4:-1]}, element from index 2 to 5: {tpl[2:6]}")

first three element: (1, 2, 3, 4), last three element: (7, 8, 9), element from index 2 to 5: (3, 4, 5, 6)

In [15]:
# Ans 4
tupl=((1,2,3), (4,5,6), (7,8,9))
for i in tupl:
    for j in i:
        print(j,end=" ")
    print(" ")

1 2 3
4 5 6
7 8 9

In [17]:
# Ans 5
tupl1 = (1, 2, 3)
tupl2 = (4, 5, 6)
concat = tupl1 + tupl2
print(concat)

(1, 2, 3, 4, 5, 6)

In [19]:
# Ans 6
tupl = (1, 2, 2, 3, 4, 4, 4, 4, 5)
print(f"occurrences of 4: {tupl.count(4)}")
print(f"index of first occurrence of 2: {tupl.index(2)}")

occurrences of 4: 4
index of first occurrence of 2: 1

In [20]:
# Ans 7
set1 = (1, 2, 3, 4, 5)
a, b, c, d, e = set1
print(a, b, c, d, e)

1 2 3 4 5

In [22]:
# Ans 8
lst = [1, 2, 3, 4, 5]
tupl = tuple(lst)
print(tupl)

(1, 2, 3, 4, 5)

In [ ]:
# Ans 9
nest_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(nest_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
# Ans 10
tupl = (1, 2, 3, 4, 5)
lst = list(tupl)
lst.append(6)
tupl = tuple(lst)
print(tupl)

(1, 2, 3, 4, 5, 6)

In [27]:
# Ans 11
str = "abhishek"
tupl = tuple(str)
joined_string = ''.join(tupl)
print(joined_string)

abhishek

In [ ]:
# Ans 12
tupl_dict = {
    (1, 2, 3): 4,
    (5, 6, 7): 8,
    (9, 10, 11): 12
}
print(tupl_dict)

{(1, 2, 3): 4, (5, 6, 7): 8, (9, 10, 11): 12}

In [31]:
# Ans 13
nest_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for i in nest_tpl:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [32]:
# Ans 14
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
set1= set(tpl)
print(set1)

{1, 2, 3, 4, 5}

In [33]:
# Ans 15
def min_tuple(tpl):
    return min(tpl)

def max_tuple(tpl):
    return max(tpl)

def sum_tuple(tpl):
    return sum(tpl)

tupl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_tuple(tupl)}")
print(f"Maximum: {max_tuple(tupl)}")
print(f"Sum: {sum_tuple(tupl)}")

Minimum: 1
Maximum: 5
Sum: 15